@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap';


$font-family-base: 'Courier New', courier, monospace;
$font-family-title: 'Roboto', sans-serif;
$font-color-light: #eee;
$primary-color-dark: #323232;
$star-wars-yellow: #ff8200;
$gutter-size: 5rem;