@import 'https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,700&display=swap';

$font-family-base: 'Courier New', courier, monospace;
$font-family-title: 'Cabin', sans-serif;
$primary-color-base: #fff;
$secondary-color-base: #000;